.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.sportRides {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
  font-family: cursive;
  font-size: 30px;
  padding: 20px;
  position: relative;
  width: 100%;
  height: 15vh;
  margin: 8px;
}
.symbols img {
  height: 100px;
  width: 125px;
}
.button {
  background-color: white;
  border: red;
  padding: 5px;
  font-size: 1.2rem;
  
  color: white;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 16px;
  margin: 0;
}
.button2 {
  border-radius: 8px;
  background-color: white;
  border: gray;
  padding: 10px;
  font-size: 1.2rem;

  color: white;
  padding: 15px;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  font-size: 16px;
}


